.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-container{
    position:relative;
    
    
   
}
.banner{
    
    width: 110%;    
    min-width:400px;
    object-fit: cover;
    height: 890px;
    max-width:1025px
}
.twitter-logo-container{
    position: absolute;
    top:31%;
    left: 36%;
    width: 100%;   
}
.twitter-white-logo{    
    width: 40%;
}


.twitter{
    width: 70px;
    margin-left: -12px;
    
}
.content{
    display: flex;
    flex-direction: column;
    
    margin-left: 110px;
    margin-top: 110px;
}
.buttons{
   display: grid;
   width: 350px;
}
.title{
    margin-top: 60px;
    color: rgb(231, 231, 231);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 64px;
    font-weight: 700;
    font-stretch: extra-expanded;   
    
    width: 600px;
}
.title-2{
    margin-top: 50px;
    color: rgb(231, 231, 231);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-stretch: extra-expanded; 
}
.google-logo{
    width: 18px;
}
.sign-with-google{
    margin-top: 35px;
    align-items: center;
    display: flex;
    border-radius: 30px;
    padding: 11px 70px;
    font-size: 15px;
    background-color: white;
    color: rgb(95, 99, 104);
    transition:opacity 0.15s;
    justify-content: center;
    text-decoration:none;
    
}
.sign-with-google:hover{
    
    opacity: 0.9;
}
.sign-with-google:active{
    opacity: 0.8;
    
}
.login{
    text-decoration: none;
    color: rgb(95, 99, 104);
    display: flex;
    
}

.apple-logo{
    width: 25px;
}


.sign-with-apple{
    margin-top: 10px;
    
    align-items: center;
    display: flex;
    border-radius: 30px;
    padding: 8px 72px;
    font-size: 15px;
    background-color: white;
    font-weight: 700;
    transform: opacity 0.15s;   
    
}
.sign-with-apple:hover{
    opacity: 0.9;
}
.sign-with-apple:active{
    opacity: 0.8;
}
.border{
    display: inline-block;
    
    border-bottom: 1px rgb(47, 51, 54) solid;
    width: 140px;
    vertical-align: middle;
    
}
.text{
    margin-top: 10px;
    display: inline-block;
    color: white;
    margin-left:3px;
    margin-right: 3px;

}
.sign-with-phone{
    margin-top: 12px;
    align-items: center;
    display: flex;
    border-radius: 30px;
    padding: 11px 50px;
    font-size: 15px;
    background-color:rgb(29 155 240);
    color: whitesmoke;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.15s;
    text-decoration: none;

}

.sign-with-phone:hover{
    background-color: rgba(29, 155, 240, 0.9);
   
}

.phrase{
    color: rgb(113, 118, 123);
    font-size: 11px;
    width: 300px;
    margin-top: 8px;
}
.phrase-1{
    color: rgb(29, 155, 240);
    text-decoration: none;
}

.account{
    margin-top: 60px;
    color: white;
    font-size: 17px;
    font-weight: 700;
}
.sign-in{
    margin-top: 18px;
    align-items: center;
    display: flex;
    border-radius: 30px;
    border:1px rgb(83 100 113) solid;
    padding: 11px 125px;
    font-size: 15px;
    background-color: inherit;
    font-weight: 700;
    color: rgb(29 155 240);
    transition: opacity 0.15s, color opacity 1;
    text-decoration: none;
}
.sign-in:hover{
    background-color: rgba(5, 27, 39, 0.5 );
    
   
}
.bottom{
    display: flex;
    padding: 12px 16px;
    
}
.bottom-header{

    display: flex;
    
    color: rgb(113, 118, 123);
    font-size: 13px;
    
}
.bottom-content{
    margin-left: 190px; 
}
.help:hover,
.about:hover,
.tos:hover,
.privacy:hover,
.cookie:hover,
.access:hover,
.ads:hover,
.blog:hover,
.status:hover,
.career:hover,
.brand:hover,
.advertising:hover,
.market:hover,
.tob:hover,
.develop:hover,
.direct:hover,
.setting:hover,
.inc:hover
{
    


    text-decoration: underline;
}

.help{
    padding-left: 12px;
}
.tos{
    padding-left: 13px;
}
.privacy{
    padding-left: 12px;
}
.cookie{
    padding-left: 12px;
}
.access{
    padding-left: 15px;
}
.ads{
    padding-left: 12px;
}
.blog{
    padding-left: 12px;
}
.status{
    padding-left: 12px;
}
.career{
    padding-left: 15px;
}
.brand{
    padding-left: 15px;
}
.advertising{
    padding-left: 7px;
}
.market{
    padding-left: 9px;
}
.tob{
    padding-left: 15px;
}
.develop{
    padding-left: 12px;
}
.direct{
    padding-left: 13px;
}
.setting{
    padding-left: 15px;
}
.inc{
    padding-left: 12px;
}